.progress-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 680px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.08);
    margin: 0 auto 12px;
}