.add-button {
    width: 44px;
    height: 44px;
    border: 1.5px solid #5558fa;
    border-radius: 4px;
    background-color: #fff;
    background-image: url(../../images/add-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 24px;
}